<div>
<picture>
	<source srcset="/images/logos/cdaoLogo.webp" type="image/webp">
	<source srcset="/images/logos/cdaoLogo.png" type="image/png">
	<img src="cdaoLogo.png" alt="DoD Logo">
</picture>
<h1> CDAO </h1>
</div>
<div class="notification-banner">
BETA
</div>

<script defer language="javascript" type="text/javascript"  src="{{ "/js/sorttables.js" | urlize | relURL }}"></script>
<script defer language="javascript" type="text/javascript"  src="{{ "/js/displaytable.js" | urlize | relURL }}"></script>
<script defer language="javascript" type="text/javascript"  src="{{ "/js/refreshbrowser.js" | urlize | relURL }}"></script>