<nav>
	<div class="logos">
		<picture>
			<source srcset="/images/logos/DOD_color.webp" type="image/webp">
			<source srcset="/images/logos/DOD_color.png" type="image/png">
			<img src="DOD_color.png" alt="DoD Logo">
		</picture>
		<picture>
			<source srcset="/images/logos/cdaoLogo.webp" type="image/webp">
			<source srcset="/images/logos/cdaoLogo.png" type="image/png">
			<img src="cdaoLogo.png" alt="DoD Logo">
		</picture>
		<picture id="advana_logo">
			<source srcset="/images/logos/AdvanaLightTheme.webp" type="image/webp">
			<source srcset="/images/logos/logo-advana.png" type="image/png">
			<img src="logo-advana.png" alt="DoD Logo">
		</picture>
	</div>
	<h1>Platform Service Health</h1>
	
</nav>
